.heroBackground {
    display: grid;
    grid-template: "container";
    place-items: center;
    place-content: center;
}

.heroBackground img {
    width: 100vw;
    height: 500px;
    object-fit: cover;
    position: relative;
    z-index: -1;
    filter: blur(7.5px);
}

.heroBackground > * {
    grid-area: container;
    max-width: 1920px;
}

.heroContent {
    position: relative;
    z-index: 1;
    text-align: center;
}

.heroContent p {
    margin: 2.5% 0;
}

@media (max-width: 931px) {
    .heroContent {
        margin: 0 5%;
    }

    .heroContent p {
        margin: 5% 0;
    }
}
