:root {
    --max-width: 1100px;
    --border-radius: 12px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Button Styling */

button {
    width: auto;
    padding: 1% 2.5%;
    appearance: none;
    border-radius: 5px;
    border: 2px solid white;
    background: black;
    color: white;
    justify-self: center;
}

button:hover {
    background: white;
    color: black;
    border-color: black;
    cursor: pointer;
}
