/* Header */

.header {
    position: relative;
    border-bottom: 3.5px solid black;
}

.header a {
    font-size: 1.25rem;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    padding: 0 1rem;
    margin: auto;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: bold;
}

/* Nav */

.nav {
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

.nav ul li a {
    display: block;
    padding: 1.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
}

/* Media Queries */

@media (max-width: 669px) {
    .wrapper {
        display: block;
    }

    .nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .title {
        display: block;
        text-align: center;
        padding-top: 1.5rem;
    }
}

@media (max-width: 548px) {
    .header {
        padding-bottom: 1.5rem;
    }
}
