/* Header */

.header {
    position: relative;
    border-bottom: 3.5px solid black;
}

.header a {
    font-size: 1.25rem;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    padding: 0 1rem;
    margin: auto;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: bold;
}

/* Select */

.currencyDropdown {
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 5px;
    font-weight: 500;
    text-align: center;
}

/* Media Queries */

@media (max-width: 1100px) {
    .header h1 {
        font-size: 1.2rem;
    }
}

@media (max-width: 910px) {
    .wrapper {
        flex-direction: column;
        margin: 2.5% 0;
    }

    .header h1 {
        font-size: 1.5rem;
        display: block;
        text-align: center;
    }

    .logo {
        display: none;
    }
}
