/* Header */

.header {
    position: relative;
    border-bottom: 3.5px solid black;
}

.header a {
    font-size: 1.25rem;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    padding: 0 1rem;
    margin: auto;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: bold;
}

/* Select */

.currencyDropdown {
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

/* Media Queries */

@media (max-width: 669px) {
    .wrapper {
        display: block;
    }

    .nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .title {
        display: block;
        text-align: center;
        padding-top: 1.5rem;
    }
}

@media (max-width: 548px) {
    .header {
        padding-bottom: 1.5rem;
    }
}
